<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>

    <body>
        <!--HEADER MODULARIZADO-->
        <%- include('./partials/header.ejs')%>
            <article>
                <div class="row">
                    <div class="12">
                        <div class="caja-login">
                            <form action="" method="POST">
                                <label for="email"><i class="far fa-user"></i></label>
                                <% if(typeof old != "undefined" && old.email ) {%>
                                    <input type="email" name="email" required value="<%=old.email%>">
                                <%}else{%>
                                    <input type="email" placeholder="example@gmail.com" name="email" required>
                                <%}%>
                                <small class="text-danger" id="errorEmail">
                                    <%= (typeof errors !='undefined' && errors.email)?errors.email.msg: "" %>
                                </small>
                                <br>
                                <label for="password"><i class="fas fa-key"></i></label>
                                <input type="password" placeholder="4 a 6 caracteres." name="password" required>
                                <small class="text-danger" id="errorPass">
                                    <%= (typeof errors !='undefined' && errors.password)?errors.password.msg: "" %>
                                </small>
                                <div>
                                    <input type="checkbox" class="form-check-input" id="cookies" name="recordar">
                                    <label for="cookies" class="form-check-label recordarme">Recordarme</label>
                                </div>
                                
                                <div class="col-12 btn-login">
                                    <a href="/register" ><button type="button" class="btn btn-outline-success">Creá tu
                                            cuenta</button></a>
                                    <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </article>
    </body>


    <!--FOOTER MODULARIZADO-->
    <%- include('./partials/footer.ejs')%>